@import "config";
@import "menu";
@import "mobile";

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font-family;
  color: $primary-color;
  text-decoration: none;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: $secondary-font-family;
  font-weight: bold;

  &.lg-heading {
    font-size: 7rem;
  }

  &.sm-heading {
    font-size: 4rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $secondary-color;
  @include main-transition;
}

header {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 80px;
}

main {
  padding: $global-padding;
  flex: 1;

  &#home {
    overflow: hidden;
  }
}

#main-footer {
  flex-shrink: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 1rem $global-padding;
  background: $background-rectangle;
  overflow: hidden;

  .footer-menu {
    flex: 3;
    .nav-item-footer {
      margin: 2rem;
      display: inline;
    }
  }

  .footer-branding {
    flex: 1;
  }
}
