.section-container {
  display: flex;

  .section-title {
    width: 45%;
  }
  .section-description {
    max-width: 400px;
  }
}

.section-images {
  display: flex wrap;
  position: relative;

  img {
    margin-right: 1rem;
    max-width: 230px;
    max-height: auto;
  }
}

.stat-container {
  flex: 1;

  .stat {
    border: 2px solid $primary-color;
    width: 260px;
    height: 300px;
    padding: 35px 35px 200px 35px;
  }

  .number {
    font-family: $secondary-font-family;
    font-size: 2rem;
    margin-bottom: 15px;
  }
}

.section-stats-images {
  display: flex;
}

.section-images-grid {
  width: 100%;
  height: 125vh;
  display: grid;
  gap: 2.3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  grid-template-areas:
    "div1 div1 div1 div2 div2 div7"
    "div1 div1 div1 div2 div2 div8"
    "div1 div1 div1 div3 div3 div9"
    "div4 div5 div6 div3 div3 div10";

  .img1 {
    background-image: url("../img/fauna/david-tostado-iesQeOFjnnA-unsplash.jpg");
    @include background-image-properties;
    grid-area: div1;
  }
  .img2 {
    background-image: url("../img/fauna/yannick-menard-ISs7qT9fEn8-unsplash.jpg");
    @include background-image-properties;
    grid-area: div2;
  }
  .img3 {
    background-image: url("../img/fauna/adam-willoughby-knox-_snqARKTgoc-unsplash.jpg");
    @include background-image-properties;
    grid-area: div3;
  }
  .img4 {
    background-image: url("../img/fauna/dana-critchlow-OLLcl2tlpf0-unsplash.jpg");
    @include background-image-properties;
    grid-area: div4;
  }
  .img5 {
    background-image: url("../img/fauna/vincent-van-zalinge-ujRQ4RJYU28-unsplash.jpg");
    @include background-image-properties;
    grid-area: div5;
  }
  .img6 {
    background-image: url("../img/fauna/priscilla-du-preez-6bZQonml5do-unsplash.jpg");
    @include background-image-properties;
    grid-area: div6;
  }
  .img7 {
    background-image: url("../img/fauna/david-tostado-o2MrG-rQ-40-unsplash.jpg");
    @include background-image-properties;
    grid-area: div7;
  }
  .img8 {
    background-image: url("../img/fauna/zdenek-machacek-lTebCR71_7A-unsplash.jpg");
    @include background-image-properties;
    grid-area: div8;
  }
  .img9 {
    background-image: url("../img/fauna/hanna-may-Y9AZOay6fPo-unsplash.jpg");
    @include background-image-properties;
    grid-area: div9;
  }
  .img10 {
    background-image: url("../img/fauna/aleesha-wood-Lx7vsvRmWdA-unsplash.jpg");
    @include background-image-properties;
    grid-area: div10;
  }
}
.boxes {
  .section-icon-boxes {
    display: flex;
    flex: 5;
    justify-content: space-evenly;
    text-align: center;
  }

  .stat {
    margin-bottom: -75px;
  }
}
